<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article and @article.id and current_user.admin? %>
  <h3><%= _("Merge Articles")%></h3>
  <%= form_tag("/content/merge/#{@article.id}", :id => "merge_form") do %>
    <%= label_tag "Article" %>
    <%= select_tag "Articles", options_from_collection_for_select(Article.where("id != ?", @article.id).where(user_id: current_user.id), "id", "title") %>
    <%= submit_tag "Merge" %>
  <% end %>
<% end %>
